body {
  align-items: center;
  background-color: #161712;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

#svgBike {
  background-color: #65BBE6;
  width: 400px;
}

#tireBack,
#tireFront {
  animation-name: tire;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: center;
}

#tireBack {
  animation-duration: 1.2s;
}

#tireFront {
  animation-duration: 6s;
}

#bikeBack,
#bikeFront,
#driverHead,
#driverBody,
#driverHelmet {
  animation-name: bounce;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: center;
}

#bikeBack {
  animation-duration: .1s;
}

#bikeFront {
  animation-duration: .2s;
}

#driverHead {
  animation-duration: .3s;
}

#driverBody {
  animation-duration: .4s;
}

#driverHelmet {
  animation-duration: .5s;
}

#background {
  animation-name: pass;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes tire {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(6px);
  }
}

@keyframes pass {
  from {
    transform: translateX(700px);
  }

  to {
    transform: translateX(-700px);
  }
}